---
import { writeDescription } from "../../scripts/writeDescription";
import Price from "../Price.astro";

interface Props {
  image: string;
  longName: string;
  shortName: string;
  quality: string;
  price: number;
  description: string;
  id: string;
}

const { image, longName, shortName, quality, price, description, id } =
  Astro.props;
---

<a class="store-item" href=`/${id}`>
  {image !== "none" && <img src={image} alt={longName} />}
  <h3>{shortName} ({quality})</h3>
  <Price id={id} />
  <p set:html={writeDescription(description)} />
</a>

<style lang="scss">
  a {
    position: relative;
    display: flex;
    flex-direction: column;
    color: var(--text);
    text-decoration: none;
    border: 1px solid var(--variant);
    padding: 0.5rem;
    border-radius: 1rem;
    width: 100%;
    margin-bottom: 1rem;
    break-inside: avoid;
    background-color: var(--item-bg);
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      transition: all 0.25s;
      background: var(--gradient);
      filter: var(--filter);
      inset: -0.125rem;
      opacity: 0;
    }

    &:hover::before {
      opacity: 1;
    }

    img {
      border-radius: 0.75rem;
      height: 12rem;
      object-fit: cover;
    }

    p {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
</style>

<script>
  const imeis = document.querySelectorAll(
    ".imei"
  ) as NodeListOf<HTMLAnchorElement>;

  for (const imei of imeis) {
    imei.href = `https://imei.info/?imei=${imei.innerText}`;
  }

  const eols = document.querySelectorAll(".eol") as NodeListOf<HTMLTimeElement>;
  for (const eol of eols) {
    const date = new Date(eol.innerHTML);
    eol.dateTime = date.toISOString();
    eol.innerHTML = new Intl.DateTimeFormat(navigator.language, {
      dateStyle: "long",
    }).format(date);
  }
</script>
